@model IEnumerable<RacketManagement.Models.Loan>

@{
    ViewData["Title"] = "Loans";
}

<h1>Loans</h1>

<button type="button" class="btn btn-primary">
    <a asp-action="Create" class="text-light" style="text-decoration: none">Rezerviraj</a>
</button>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Phone number</th>
            <th>Racket</th>
            <th>Return Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.ApplicationUser.FirstName @item.ApplicationUser.LastName
            </td>
            <td>
                @item.ApplicationUser.PhoneNumber
            </td>
            <td>
                @item.Racket.Brand.name @item.Racket.Model.name @item.Racket.GripSize.size
            </td>
            <td>
                @(item.ReturnDate.Day).@(item.ReturnDate.Month).@(item.ReturnDate.Year)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                if(User.IsInRole("Administrator"))
                {
                    <td>
                        <a class="text-light" style="text-decoration: none"  asp-action="Edit" asp-route-id="@item.LoanID">
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </a>
                        
                        <a class="text-light" style="text-decoration: none"  asp-action="Delete" asp-route-id="@item.LoanID">
                            <button type="button" class="btn btn-secondary btn-sm">Delete</button>
                        </a>
                    </td>
                }
            }
        </tr>
    }
    </tbody>
</table>
